@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root{
    --accent: #EE6352;
    --light: #F2F3D9;
    --dark: #2C092F;
    --midtone1: #CAA8F5;
    --midtone2: #9984D4;
}

*:not(h1){
  font-family: 'Rubik', sans-serif;
}

*{
    overflow-wrap: normal;

}

html{
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    background-color: var(--dark);
}

body{
    width: 100%;
    min-height: 100%;
    height: fit-content;
    margin:0;
    padding:0;

}

header{
    height: fit-content;
    width: 100%;
    background-color: var(--midtone2);
    color: var(--midtone1);
}

.title {
    justify-content: center; 
    flex-direction: row;
    font-family: "Permanent Marker", sans-serif;
    padding-top: 10pt;
}


#define{
    justify-content: center; 

    flex-direction: row;
}

h4{
    color: var(--aViolet);
}

main{
    height: fit-content;
    width: 100%;
    margin:0;
    padding:0;

}

.mContent{
    height: fit-content;
    width: 100%;
}

section{
    height:100%;
}

#gameFind{
    display: flex;
    flex-flow: column nowrap;
    color: var(--light);
}


#sPlat{
    width: 100%;
}

.uInput{
    border-right: 2px solid var(--midtone1);
}

.finder{
    height: auto;
    padding-left: 10px;
    padding-right: 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.gamesList{
    height: 60%;
    background-color: var(--light);
}

#formSubmit{
    background-color: var(--midtone1);
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: auto;
    line-height: 3.0;

}

.fResults{
    display: hidden;
    height: inherit;
    width: inherit;
    margin:0;
}

.landing{
    height: inherit;
    width: inherit;
    margin:0;
}




#gameImage{
    width: 100%;
    height: 100%;
}

#top5{
    border: 2pt solid var(--dark);
    /* height: 250pt;
    width: 200pt; */
}

#gameInfo {
    border: 2pt solid var(--dark);
    /* height: 250pt;
    width: 200pt; */
}

#gamePic {
    border: 1pt solid var(--dark);
    height: 100%;

}


#top-5{
    border: 2pt solid var(--dark);
    height: 250pt;
    width: 200pt;
}


#gameTitle {
    border: 2pt solid var(--dark);
    height: 250pt;
    width: 200pt;

}

.carousel #streams {
    min-height: 250px;
    min-width: 250px;
    margin: 10px
}

iframe {
    padding: 10px;
}

li{
    list-style: none;

    background-color: var(--midtone1);
    border-bottom: var(--dark) solid;


}

.footer {
    padding: 10px;
    display: flex;
    text-align: left;
    color: var(--onyx);
  }

button{
    border: none;
    min-height: 100%;
    min-width: 100%;
    line-height: 3.0;
}

