@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root{
    --accent: #b938c2;
    --light: #ffeedd;
    --dark: #2C092F;
    --midtone1: #CAA8F5;
    --midtone2: #9984D4;
   
}

*:not(h1){
  font-family: 'Rubik', sans-serif;
}

*{
    overflow-wrap: normal;

}

html{
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    background-color: var(--dark);
}

body{
    width: 100%;
    min-height: 100%;
    height: fit-content;
    margin:0;
    padding:0;

}

header{
    height: fit-content;
    width: 100%;
    background-color: var(--midtone2);
    color: var(--light);
    font-family: "Sarpanch:wght@900", sans-serif;
    background-image: url(./img/virtual-retro-future-environment-concept-free-vector.jpg);
    background-position: center;
    background-image: cover;
}


.footer{
    background-color: var(--midtone2);
    /* position: fixed; */

    bottom: 0;
    width: 100%;
    color:var(--dark)
    
}


main{
    margin-top: 3%;
    margin-bottom: 3%;
}

.title {
    justify-content: center; 
    flex-direction: row;
    font-family: "Sarpanch", sans-serif;
    font-weight: bold;
    padding-top: 10pt;
    color: var(--light);
    font-size: 70px;
}


#define{
    justify-content: center; 
    flex-direction: row;
}

h4{
    color: var(--dark);
    font-size: 24pt;
    background-color: var(--midtone1);
    font-weight: bold;
}

label {
    font-size: 18pt;
    padding-left: 5pt;
}

main{
    height: fit-content;
    width: 100%;
    margin:3%, 0;
    padding:0;

}
.heading{
    background-color: var(--midtone1);
    color: var(--dark);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    box-shadow: 0.0125em 0.25em rgb(10, 10, 10/ 10%);
    border-bottom: var(--midtone2) solid;
    margin-bottom: 0%;
    line-height: 3;
    background-color: var(--light);
    border: var(--accent) solid;
}

h3{
    background-color: var(--midtone1);
    font-size: 17px;
}

.ul{
    border: var(--accent) solid;
    border-top: none;
}


.card{
    background-color: var(--midtone1);
}

@keyframes backgroundPan{
    0%   {background-position: -200px -300px;}
    20%  {background-position: -250px -350px;}
    50%  {background-position: -200px -300px;}
    75%  {background-position: -150px -250px;}
}

.mContent{
    background-image:url("./img/istockphoto-1285591330-170667a.jpg");
    background-size: cover;
    animation: backgroundPan 45s linear infinite;
    height: fit-content;
    width: 100%;
}

section{
    height:100%;
}

#gameFind{
    display: flex;
    flex-flow: column nowrap;
    color: var(--midtone1);
}


#sPlat{
    width: 100%;
}

.uInput{
    background-color: var(--dark);
    border-right: 2px solid var(--midtone1);
}

.finder{
    height: auto;
    padding-left: 10px;
    padding-right: 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.gamesList{
    height: 60%;
    background-color: var(--midtone1);
}



#formSubmit{
    background-color: var(--accent);
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: auto;
    line-height: 3.0;
}


#gameImage{
    width: 100%;
    height: 100%;
}

article.article{
    background-color: var(--dark);
}
.box{
    padding-top: 0;
}
#top5{
    border: 2pt solid var(--dark);
    /* height: 250pt;
    width: 200pt; */
    margin: 0, 2%
}

#gameInfo {
    border: 2pt solid var(--dark);
    /* height: 250pt;
    width: 200pt; */
}

.info{
    background-color: var(--midtone1);
    margin: 0%;
    border: none;
    line-height: 3;
}

#gamePic {
    border: 1pt solid var(--dark);
    height: 100%;
    margin-top: 5%;
    padding: .3%;
    border: var(--accent) solid;

}


#top-5{
    border: 2pt solid var(--dark);
    height: 250pt;
    width: 200pt;
}


#gameTitle {
    border: 2pt solid var(--dark);
    height: 250pt;
    width: 200pt;

}

.carousel #streams {
    min-height: 250px;
    min-width: 250px;
    margin: 10px
}

iframe {
    padding: 10px;
}

li{
    list-style: none;
    background-color: var(--midtone1);
    border-bottom: var(--dark) solid;

}

.footer {
    padding: 10px;
    display: flex;
    text-align: left;
    color: var(--onyx);
  }

button{
    border: none;
    min-height: 100%;
    min-width: 100%;
    line-height: 3.0;
    background-color: var(--midtone2);
    color: var(--light);
}


.card-header-title{
    color: var(--light);
    border-bottom: var(--accent) solid;
}