h1 {
    justify-content: center; 
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav-bar {
    justify-content: center;
    flex-direction: row;
}